body {
    background-color: lightgray;
}
#wrapper {
    margin: 10px;

}

.header {
    margin: 10px;
    padding: 20px;
    background-color: darkgray;
    text-align: center;
    color: white;
    font-size: 180%;
    text-decoration: underline;
}


nav{
    color: white;
    margin: 10px;
    width: 300px;
    height: 700px;
    background-color: darkgray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 170%;
    display: inline-block;
    line-height: 145px;
}



a:link, a:visited {
    color:white;
    text-decoration: none;
    transition: 0.6s;
}

a:hover, a:active {
    color: aqua;
    transition: 1s;
}

article{
    margin: 10px;
    padding: 40px;
    width: 1450px;
    height: 620px;
    background-color: darkgray;
    display: inline-block;
    position: absolute;
    font-size: 150%;
    color: white;
    text-align: center;
    overflow-y: auto;
}

footer{
    position: center;
    background-color: darkgray;
    margin-left: 20px;
    margin-right: 18px;
    padding:5px;
    text-align: center;
    font-size: 120%;
    color: white;

}

#currentsite {
    color:aqua;
}

#text {
    text-align: left;
}

summary {
    padding: 15px;
    float:left;
    background-color: dimgray;

}
summary:hover{
    color: aqua;
    transition: 0.6s;
}
details{
    background-color: dimgray;
    border: 3px solid black;
    position: absolute;
}

#head {
    padding: 15px;
}






